# An analysis of the diabetes data in the United States
                                                                                            By: David Ugochukwu Asogwa
                                                                                            July 19, 2022
The dataset represents a record of 10 years of diabetes patients treatment and hospital visitation in the United States from 1999 to 2008. The dataset contains clinical care at 130 US hospitals and integrated delivery networks. It includes over 50 features representing patient and hospital outcomes. Included in the features are race, gender, age, diabetes medication and more. Analysis and visualizations will be performed using this data to derive insights on the relationships between diabetes patients and age, weight, race, gender, insulin level and effects of medications when recommended. The dataset contains 101,766 rows and 51 columns.

To carry out this analysis, the data integrity have to be verified in other to clean up quality and tidiness issues.

Dataset obtained from Kaggle: https://www.kaggle.com/datasets/jimschacko/10-years-diabetes-dataset

In [1]:
# package imports
import pandas as pd
import numpy as np
import seaborn as sb
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline

#reading csv file and accessing
diabetes = pd.read_csv('diabetes.csv')
print(diabetes.shape)
diabetes.head()

(101766, 51)

,id,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,...,citoglipton,insulin,glyburide.metformin,glipizide.metformin,glimepiride.pioglitazone,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed,readmitted
0,1,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,...,No,No,No,No,No,No,No,No,No,NO
1,2,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,3,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,...,No,No,No,No,No,No,No,No,Yes,NO
3,4,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,5,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

This dataset appears not to be clean. From the weight column, there are missing values seen as **question marks (?)**. There is a high probability same might have occured in other columns and these values will be huge. Let's explore, find out the quality and tidiness issues and profer solutions.

In [2]:
diabetes.describe()

,id,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,101766.000000,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,50883.500000,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,29377.458084,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.000000,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,25442.250000,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,50883.500000,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,76324.750000,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,101766.000000,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [3]:
diabetes.isnull().sum()

id                          0
encounter_id                0
patient_nbr                 0
race                        0
gender                      0
age                         0
weight                      0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
payer_code                  0
medical_specialty           0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide.metformin         0
glipizide.metformin         0
glimepiride.pioglitazone    0
metformin.rosiglitazone     0
metformin.pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

All columns are filled. No missing values.

In [4]:
diabetes.duplicated().sum()

0

The dataset as a whole has no duplicated value.

In [5]:
print(diabetes.patient_nbr.duplicated().sum())
print(diabetes.encounter_id.duplicated().sum())

30248
0

In [6]:
print(diabetes.patient_nbr.nunique())
print(diabetes.encounter_id.nunique())

71518
101766

In [7]:
print('Patient_nbr has {} unique values and {} duplicates, summing up to {}'
      .format(diabetes.patient_nbr.nunique(), diabetes.patient_nbr.duplicated().sum(),
      diabetes.patient_nbr.nunique() + diabetes.patient_nbr.duplicated().sum()));

Patient_nbr has 71518 unique values and 30248 duplicates, summing up to 101766

Checking the **patient_nbr** for duplicated values, there appears to be **30,248 duplicates**. To further buttress this observation, **encounter_id** was checked for duplicates and it turned out to be **zero (0)**. This means the duplicates in the patient_nbr are not actually duplicates but **patients that had multiple checks/treatments**, and since their patient_nbr is unique, it cannot be changed, unlike the encounter_id.

In [8]:
# count function
def count(df, df_string, column_name):
    """
    A fuction to count values in a column, and displays the results.
    
    Args:
        df: dataset or dataframe
        df_string: dataframe name as a string
        column_name: name of column to count values
    """
    print('Here are the results from {} column in {} dataset'.format(column_name, df_string))
    return df[column_name].value_counts()

In [9]:
count(diabetes, 'diabetes', 'race')

Here are the results from race column in diabetes dataset

Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64

Values with **question mark (?)** will be replaced with **other**, since they are unknown.

In [10]:
count(diabetes,'diabetes', 'gender')

Here are the results from gender column in diabetes dataset

Female             54708
Male               47055
Unknown/Invalid        3
Name: gender, dtype: int64

In [11]:
(count(diabetes,'diabetes', 'weight')/diabetes.shape[0]) * 100

Here are the results from weight column in diabetes dataset

?            96.858479
[75-100)      1.312816
[50-75)       0.881434
[100-125)     0.614154
[125-150)     0.142484
[25-50)       0.095317
[0-25)        0.047167
[150-175)     0.034393
[175-200)     0.010809
>200          0.002948
Name: weight, dtype: float64

Approximately **96%** of this column is unknown. It will be dropped.

In [12]:
count(diabetes,'diabetes', 'admission_type_id')

Here are the results from admission_type_id column in diabetes dataset

1    53990
3    18869
2    18480
6     5291
5     4785
8      320
7       21
4       10
Name: admission_type_id, dtype: int64

The admission_type_id does not really communicate what it stands for without looking at the feature definition. This will be mapped with their id definitions and also renamed to **admission_type**.

In [13]:
count(diabetes,'diabetes', 'admission_source_id')

Here are the results from admission_source_id column in diabetes dataset

7     57494
1     29565
17     6781
4      3187
6      2264
2      1104
5       855
3       187
20      161
9       125
8        16
22       12
10        8
14        2
11        2
25        2
13        1
Name: admission_source_id, dtype: int64

In [14]:
count(diabetes,'diabetes', 'medical_specialty')

Here are the results from medical_specialty column in diabetes dataset

?                                49949
InternalMedicine                 14635
Emergency/Trauma                  7565
Family/GeneralPractice            7440
Cardiology                        5352
                                 ...
SportsMedicine                       1
Speech                               1
Perinatology                         1
Neurophysiology                      1
Pediatrics-InfectiousDiseases        1
Name: medical_specialty, Length: 73, dtype: int64

Showing the patients preference for a specialty, the dataset contains rows with unknown values. These rows will be replaced with **Other**.

In [15]:
count(diabetes,'diabetes', 'number_outpatient')

Here are the results from number_outpatient column in diabetes dataset

0     85027
1      8547
2      3594
3      2042
4      1099
5       533
6       303
7       155
8        98
9        83
10       57
11       42
13       31
12       30
14       28
15       20
16       15
17        8
21        7
20        7
18        5
22        5
19        3
27        3
24        3
26        2
23        2
25        2
33        2
35        2
36        2
29        2
34        1
39        1
42        1
28        1
37        1
38        1
40        1
Name: number_outpatient, dtype: int64

In [16]:
count(diabetes,'diabetes', 'number_emergency')

Here are the results from number_emergency column in diabetes dataset

0     90383
1      7677
2      2042
3       725
4       374
5       192
6        94
7        73
8        50
10       34
9        33
11       23
13       12
12       10
22        6
16        5
18        5
19        4
20        4
15        3
14        3
25        2
21        2
28        1
42        1
46        1
76        1
37        1
64        1
63        1
54        1
24        1
29        1
Name: number_emergency, dtype: int64

In [17]:
count(diabetes,'diabetes', 'number_inpatient')

Here are the results from number_inpatient column in diabetes dataset

0     67630
1     19521
2      7566
3      3411
4      1622
5       812
6       480
7       268
8       151
9       111
10       61
11       49
12       34
13       20
14       10
15        9
16        6
19        2
17        1
21        1
18        1
Name: number_inpatient, dtype: int64

The **number_outpatient**, **number_emergency** and **number_inpatient** indicate the number of times these events occur, that is, how many times there was ana emergency, number of times the patient was an inpatient and outpatient. These values will be modified as follows: **zero (0)** changed to **No** and any number **greater than 0** changed to **Yes**.

In [18]:
count(diabetes,'diabetes', 'number_diagnoses')

Here are the results from number_diagnoses column in diabetes dataset

9     49474
5     11393
8     10616
7     10393
6     10161
4      5537
3      2835
2      1023
1       219
16       45
10       17
13       16
11       11
15       10
12        9
14        7
Name: number_diagnoses, dtype: int64

In [19]:
count(diabetes,'diabetes', 'max_glu_serum')

Here are the results from max_glu_serum column in diabetes dataset

None    96420
Norm     2597
>200     1485
>300     1264
Name: max_glu_serum, dtype: int64

Column looks good, but will be renamed to **glucose_serum**, and **Norm** replaced with **Normal**

In [20]:
count(diabetes,'diabetes', 'A1Cresult')

Here are the results from A1Cresult column in diabetes dataset

None    84748
>8       8216
Norm     4990
>7       3812
Name: A1Cresult, dtype: int64

Rename to **A1C_result** and **Norm** replaced with **Normal**

In [21]:
count(diabetes,'diabetes', 'metformin')

Here are the results from metformin column in diabetes dataset

No        81778
Steady    18346
Up         1067
Down        575
Name: metformin, dtype: int64

In [22]:
count(diabetes,'diabetes', 'insulin')

Here are the results from insulin column in diabetes dataset

No        47383
Steady    30849
Down      12218
Up        11316
Name: insulin, dtype: int64

In [23]:
count(diabetes,'diabetes', 'change')

Here are the results from change column in diabetes dataset

No    54755
Ch    47011
Name: change, dtype: int64

Having only two values here, **No** and **Ch**, the **Ch** will be replaced with **Yes**.

In [24]:
count(diabetes,'diabetes', 'readmitted')

Here are the results from readmitted column in diabetes dataset

NO     54864
>30    35545
<30    11357
Name: readmitted, dtype: int64

In [25]:
list(diabetes.columns)

['id',
 'encounter_id',
 'patient_nbr',
 'race',
 'gender',
 'age',
 'weight',
 'admission_type_id',
 'discharge_disposition_id',
 'admission_source_id',
 'time_in_hospital',
 'payer_code',
 'medical_specialty',
 'num_lab_procedures',
 'num_procedures',
 'num_medications',
 'number_outpatient',
 'number_emergency',
 'number_inpatient',
 'diag_1',
 'diag_2',
 'diag_3',
 'number_diagnoses',
 'max_glu_serum',
 'A1Cresult',
 'metformin',
 'repaglinide',
 'nateglinide',
 'chlorpropamide',
 'glimepiride',
 'acetohexamide',
 'glipizide',
 'glyburide',
 'tolbutamide',
 'pioglitazone',
 'rosiglitazone',
 'acarbose',
 'miglitol',
 'troglitazone',
 'tolazamide',
 'examide',
 'citoglipton',
 'insulin',
 'glyburide.metformin',
 'glipizide.metformin',
 'glimepiride.pioglitazone',
 'metformin.rosiglitazone',
 'metformin.pioglitazone',
 'change',
 'diabetesMed',
 'readmitted']

### <span style = 'color:blue'>Issues</span>
1. Drop columns: **id, encounter_id, payer_code, weight, discharge_disposition_id, num_procedures, diag_1, diag_2, diag_3,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,
rosiglitazon,acetohexamide,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,glyburide.metformin,
glipizide.metformin,glimepiride.pioglitazone,metformin.rosiglitazone,metformin.pioglitazone**
2. Non-consistent patient_nbr. Add **0** in front of numbers less than 9.
3. Rename **patient_nbr** to **patient_id**, **time_in_hospital** to **days_in_hospital**, **number_outpatient, number_emergency, number_inpatient** to **outpatient, emergency, inpatient**, **max_glucose_serum** to **glucose_serum** and **Norm** replaced with **Normal**,
4. Replace **(?)** in **race, medical_specialty**  with **other**
5. Rename **admission_type_id** to **admission_type** and replace numerical values with mappings: 1:Emergency, 2:Urgent, 3:Elective, 4:New_born, 5:Not_available, 6:Null, 7:Trauma_center, 8:Not_mapped
6. Rename **admission_source_id** to **admission_source** and change numerical values to mappings.
7. Replace values **> 0** in **number_outpatient, number_emergency, number_inpatient** with **Yes**, and values **equal to 0** with **No**
8. Replace **ch** in **change** with **Yes**
9. Rename to **A1C_result** and **Norm** replaced with **Normal**

<span style = 'color:blue'>Issue 1</span>

In [26]:
drop_columns = ['id','encounter_id','weight','discharge_disposition_id','payer_code','diag_1','diag_2','diag_3',
                'num_procedures','repaglinide','nateglinide','chlorpropamide','glimepiride','acetohexamide','glipizide',
                'glyburide','tolbutamide','pioglitazone','rosiglitazone','acarbose','miglitol','troglitazone','tolazamide',
                'examide','citoglipton','glyburide.metformin','glipizide.metformin','glimepiride.pioglitazone',
                'metformin.rosiglitazone','metformin.pioglitazone',]
diabetes.drop(columns = drop_columns, inplace = True)

<span style = 'color:blue'>Issue 2</span>

In [27]:
def function(df, column_name, length):
    """
    A function that adds a letter or int in front of a string. In this case, the function was used to add zero(s)
    to patient's id number that are not up to 9 digits, to complete them to 9 for consistency.
    
    Args:
        df: dataframe
        column_name: name of column/feature
        length: Maximum length of all cells in the row
    """
    
    df[column_name] = df[column_name].astype(str)
    
    for i in range(0, len(df[column_name]), 1):
        if len(df[column_name][i]) != length:
            df[column_name] = ((9 - len(df[column_name][i])) * str(0)) + df[column_name][i]

In [28]:
function(diabetes, 'patient_nbr', 9)

In [31]:
list(diabetes.columns)

['patient_nbr',
 'race',
 'gender',
 'age',
 'admission_type_id',
 'admission_source_id',
 'time_in_hospital',
 'medical_specialty',
 'num_lab_procedures',
 'num_medications',
 'number_outpatient',
 'number_emergency',
 'number_inpatient',
 'number_diagnoses',
 'max_glu_serum',
 'A1Cresult',
 'metformin',
 'insulin',
 'change',
 'diabetesMed',
 'readmitted']

In [32]:
3 * str(0)

'000'